<?xml version="1.0"?>

<web-app version="3.0">
    
    

<servlet>
<servlet-name>xyz</servlet-name>
<servlet-class>registration</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>xyz</servlet-name>
<url-pattern>/registration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>quiz</servlet-name>
<servlet-class>quizval</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>quiz</servlet-name>
<url-pattern>/queez</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>studentauthentication1</servlet-name>
<servlet-class>studentauthentication</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>studentauthentication1</servlet-name>
<url-pattern>/www.studentauthentication.com</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>lectureregistration1</servlet-name>
<servlet-class>lectureregistration</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>lectureregistration1</servlet-name>
<url-pattern>/www.lectureregistration.com</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>lectureauthentication1</servlet-name>
<servlet-class>lectureauthentication</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>lectureauthentication1</servlet-name>
<url-pattern>/www.lectureauthentication.com</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>attendance1</servlet-name>
<servlet-class>attendance</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>attendance1</servlet-name>
<url-pattern>/attendance</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>xy</servlet-name>
<servlet-class>individual</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>xy</servlet-name>
<url-pattern>/ind</url-pattern>
</servlet-mapping>

    <servlet>
        <servlet-name>mail</servlet-name>
        <servlet-class>MailApp</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>mail</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>

 <!-- 
   <welcome-file-list>
        <welcome-file>ind.html</welcome-file>
    </welcome-file-list>

  -->

	   <welcome-file-list>
        <welcome-file>extframe.html</welcome-file>
    </welcome-file-list>

	


<servlet>
<servlet-name>selectst</servlet-name>
<servlet-class>selectstudent</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>selectst</servlet-name>
<url-pattern>/select</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>my</servlet-name>
<servlet-class>mymail1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>my</servlet-name>
<url-pattern>/mymail</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>print</servlet-name>
<servlet-class>em1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>print</servlet-name>
<url-pattern>/em1</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>profile</servlet-name>
<servlet-class>profile</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>profile</servlet-name>
<url-pattern>/pro</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>logout</servlet-name>
<servlet-class>logout</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>logout</servlet-name>
<url-pattern>/out</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>demo1</servlet-name>
<servlet-class>trial</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>demo1</servlet-name>
<url-pattern>/trail</url-pattern>
</servlet-mapping>






</web-app>